@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: none;

}

body {
    font-family: 'Josefin Sans', sans-serif;




}

/* header */
h3 h4 {
    font-family: 'Abel', sans-serif;
    color: black;
}

#logo {
    text-transform: uppercase;
    float: left;
    font-size: 140%;
    letter-spacing: 2px;
    color: rgb(2, 18, 53);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;


}

#hero-image {
    width: 100vw;
    height: 680px;
    background: url(../image/brazil-flag.x93f41ece.webp) no-repeat center center;
    background-size: cover;



}

nav ul {

    list-style: none;
    text-align: right;
    background-color: rgb(240, 255, 245);



}

nav li {
    font-size: 1.2rem;
    line-height: 1px;
    display: inline-block;
    margin: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(2, 18, 53);
    display: block;
}

nav a:hover {
    color: darkgreen;
    height: 10px;


}

.active {
    color: darkgreen;
    height: 10px;

}

/* introduction*/
#introduction {
    text-align: center;
    margin-top: 30px;
    letter-spacing: 3px;
    overflow: auto;
    padding-bottom: 20px;
}

#introduction div h2 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(2, 18, 53);
}

#introduction-container h3 {
    font-size: 24px;
    padding-top: 10px;
}


#introduction-container {
    margin-left: 10px;
    padding-top: 10px;
}

#left-column-introduction-container {
    width: 50%;
    float: left;
}

#left-column-introduction-container p {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    padding: 30px 30px 0px 30px;
}

#right-column-introduction-container {
    width: 50%;
    float: right;
}

#brazil-map-image img {
    height: 50%;
    width: 50%;
    object-fit: contain;
    margin-top: 30px;


}

/* contact e footer */

footer {
    overflow: hidden;
    background-color: rgb(240, 255, 245);
    background-size: cover;
}

#contact {
    font-family: 'Abel', sans-serif;
    color: rgb(2, 18, 53);
    padding-top: 20px;
    text-align: center;
}

#contact-table-details {
    display: inline;
    border: 4px double thick;

}

/* footer */


#social-midia {
    background-color: rgb(240, 255, 245);
    padding-top: 30px;
    text-align: center;

}

#social-midia i {

    color: rgb(2, 18, 53);
}

#social-midia>li {
    font-size: 160%;
    margin: 1px;
    padding: 5%;
    display: inline;

}

#social-midia li h4 {
    padding-top: 10px;
    font-size: 70%;
}

/* food  page style */

#food-image {
    width: 100%;
    height: 680px;
    background-image: url(../image/cover-foods.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#title-food {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 30px;
    letter-spacing: 3px;
    overflow: auto;
    padding-bottom: 20px;
}

#dishes-and-drinks h2 {
    margin-top: 20px;
    text-align: center;

}

#food-p {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    padding: 30px 30px 0px 30px;
    letter-spacing: 2px;
}

#dishes-and-drinks img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#dishes-and-drinks p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    padding: 30px 30px 0px 30px;
    letter-spacing: 2px;
}

#desserts img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#desserts h2 {
    margin-top: 20px;
    text-align: center;
}

#desserts p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    padding: 30px 30px 0px 30px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


/* places style */
#place-image {
    width: 100%;
    height: 680px;
    background-image: url(../image/Rio-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

#photo-places img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

#photo-places p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    padding: 30px 30px 0px 30px;
    letter-spacing: 2px;
    margin-bottom: 10px;

}

#Best-place-introduction h2 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(2, 18, 53);
    text-align: center;
    margin-top: 30px;
    letter-spacing: 3px;
    overflow: auto;
    padding-bottom: 20px;
}

#Best-place-introduction p {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    padding: 30px 30px 0px 30px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

/* form sing up  */
#image-background {
    clear: left;
    background: url(../image/pantanal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 62.5rem;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: black;
    background-color: rgb(212 249 255 / 60%);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;

}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.submit-buttom {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(88, 88, 143);
    color: black;
    display: block;
}

/* media queries */

@media screen and (max-width:800px) {
    #logo {
        text-align: center;
    }

    nav ul {
        display: inline-block;
        background-color: white
    }

    #left-column-introduction-container {
        width: 100%;

    }

    #right-column-introduction-container {
        width: 100%;
        height: 30%;
        text-align: -webkit-center;
    }
}

@media screen and (max-width:1200px){
    nav ul {
        display: inline-block;
        background-color: white
    }

}