@import url('https://fonts.googleapis.com/css2?family=Abel&family=Josefin+Sans&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: none;

}

body {
    font-family: 'Josefin Sans', sans-serif;




}

/* header */
h3 h4 {
    font-family: 'Abel', sans-serif;
    color: black;
}

#logo {
    text-transform: uppercase;
    float: left;
    font-size: 140%;
    letter-spacing: 2px;
    color: rgb(2, 18, 53);
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;


}

#hero-image {
    width: 100vw;
    height: 680px;
    background: url(../image/brazil-flag.x93f41ece.webp) no-repeat center center;
    background-size: cover;



}

nav ul {

    list-style: none;
    text-align: right;
    background-color: rgb(240, 255, 245);



}

nav li {
    font-size: 1.2rem;
    line-height: 1px;
    display: inline-block;
    margin: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(2, 18, 53);
    display: block;
}

nav a:hover {
    color: darkgreen;
    height: 10px;


}

.active {
    color: darkgreen;
    height: 10px;

}

/* introduction*/
#introduction {
    text-align: center;
    margin-top: 30px;
    letter-spacing: 3px;
    overflow: auto;
    padding-bottom: 20px;
}

#introduction div h2 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(2, 18, 53);
}

#introduction-container h3 {
    font-size: 24px;
    padding-top: 10px;
}


#introduction-container {
    margin-left: 10px;
    padding-top: 10px;
}

#left-column-introduction-container {
    width: 50%;
    float: left;
}

#left-column-introduction-container p {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    padding: 30px 30px 0px 30px;
}

#right-column-introduction-container {
    width: 50%;
    float: right;
}

#brazil-map-image {
    justify-content: center;
    height: 25rem;
    width: 25rem;
    display: flex;


}

/* contact e footer */

footer {
    overflow: hidden;
    background-color: rgb(240, 255, 245);
    background-size: cover;
}

#contact {
    font-family: 'Abel', sans-serif;
    color: rgb(2, 18, 53);

    padding-top: 20px;
    text-align: center;
}

#contact-table-details {
    display: inline;
    border: 4px double thick;

}

/* footer */


#social-midia {
    background-color: rgb(240, 255, 245);
    padding-top: 30px;
    text-align: center;

}

#social-midia i {

    color: rgb(2, 18, 53);
}

#social-midia>li {
    font-size: 160%;
    margin: 1px;
    padding: 5%;
    display: inline;

}

#social-midia li h4 {
    padding-top: 10px;
    font-size: 70%;
}

@media screen and (max-width:800px) {

    nav ul {
        display: inline-block;
    }

    #left-column-introduction-container {
        width: 100%;

    }

    #right-column-introduction-container {
        width: 100%;
        height: 30%;
        text-align: -webkit-center;
    }
}

/* history page style */

#history-image {
    background: url(../image/history-page-cover.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 680px;



}

#cover-text {
    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(107, 241, 212, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#cover-text h3 {
    font-family: 'Abel', sans-serif;
    color: black;

}

#title-history {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 30px;
    letter-spacing: 3px;
    overflow: auto;
    padding-bottom: 20px;
}

#p-section {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    padding: 30px 30px 0px 30px;
    letter-spacing: 2px;

}

#colonization-p {
    width: 40%;
    float: left;
}


#independence-pic {
    justify-content: right;
    height: 25rem;
    width: 60%;
    display: flex;
}

#brasil-tree-p {
    margin-top: 20%;
    width: 50%;
    float: left;
}

#brasil-tree-pic {
    margin-top: 10%;
    justify-content: center;
    height: 30rem;
    width: 50%;
    display: flex;
}

#luzia-pic {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: right;
    height: 20rem;
    width: 50%;
    display: flex;
}

#luzia-p {
    padding-top: 15%;
    width: 50%;
    float: left;
}

@media screen and (max-width: 1200px) {
    nav ul {
        display: inline-block;
    }

    #p-section {
        width: 100%;
        float: left;
        padding: 0;

    }







}

@media screen and (max-width:700px) {
    #p-section img {
        width: 100%;

        object-fit: contain;

    }

    #cover-text {
        left: 0;

    }

    #colonization-p {
        text-align: center;
        width: 100%;
        margin-bottom: 10%;

    }

    #independence-pic {
        width: 100%;

    }

    #brasil-tree-p {
        text-align: center;
        width: 100%;
        margin-bottom: 10%;
        clear: both;
    }

    #brasil-tree-pic {
        width: 100%;
        height: 30%;
        object-fit: contain;

    }

    #luzia-p {
        text-align: center;
        width: 100%;
    }

    #luzia-pic {
        width: 100%;

    }

}



/* food  page style */
#food-image {
    width: 100%;
    height: 680px;
    background-image: url(../image/cover-foods.jpg);
    background-size: cover;
}

#title-food {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 30px;
    letter-spacing: 3px;
    overflow: auto;
    padding-bottom: 20px;
}

#food-p {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    padding: 30px 30px 0px 30px;
    letter-spacing: 2px;
}

#dishes-and-drinks img {
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#dishes-and-drinks p {
   text-align: center;
   font-family: 'Abel', sans-serif;
   font-size: 20px;
   padding: 30px 30px 0px 30px;
   letter-spacing: 2px;
}